# Research Project

#### Finding data
- BTC price from API? or from different sources (i started on this - trying to get daily prices from api)
- Oil, Gold, S&P 500 from Yahoo/Crsp/FactSet?
- Google trend - we can find google trend also through api --> pytrends: https://pypi.org/project/pytrends/
- Inflation, Interest rate in the US - CRSP or some other webpage with reliable info
+ Deciding whether we will use returns/ prices/ so on :)

In [1]:
#pip install pandas-datareader

In [7]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt
import os

In [3]:
# yahoo finance data
# gold = 'GC=F'
# oil = 'CL=F'
# sp_500 = '^GSPC' 
df1 = web.DataReader(['GC=F', 'CL=F', '^GSPC'], 'yahoo', start='2020-01-01', end='2022-01-18')["Adj Close"]
df1.rename(columns={'GC=F': 'gold', 'CL=F': 'oil', '^GSPC': 'sp_500'}, inplace=True)

In [4]:
df1.tail()

Symbols            gold        oil       sp_500
Date
2022-01-11  1818.599976  81.220001  4713.069824
2022-01-12  1827.199951  82.639999  4726.350098
2022-01-13  1821.199951  82.120003  4659.029785
2022-01-14  1816.500000  83.820000  4662.850098
2022-01-18  1809.000000  85.279999          NaN

In [5]:
df1

Symbols            gold        oil       sp_500
Date
2020-01-02  1524.500000  61.180000  3257.850098
2020-01-03  1549.199951  63.049999  3234.850098
2020-01-06  1566.199951  63.270000  3246.280029
2020-01-07  1571.800049  62.700001  3237.179932
2020-01-08  1557.400024  59.610001  3253.050049
...                 ...        ...          ...
2022-01-11  1818.599976  81.220001  4713.069824
2022-01-12  1827.199951  82.639999  4726.350098
2022-01-13  1821.199951  82.120003  4659.029785
2022-01-14  1816.500000  83.820000  4662.850098
2022-01-18  1809.000000  85.279999          NaN

[517 rows x 3 columns]

In [6]:
#pip install pytrends

In [11]:
from pytrends.request import TrendReq
from pytrends import dailydata

Bitcoin_df = dailydata.get_daily_data('Bitcoin', 2020, 1, 2022, 1, geo = '')

Bitcoin:2020-01-01 2020-01-31
Bitcoin:2020-02-01 2020-02-29
Bitcoin:2020-03-01 2020-03-31
Bitcoin:2020-04-01 2020-04-30
Bitcoin:2020-05-01 2020-05-31
Bitcoin:2020-06-01 2020-06-30
Bitcoin:2020-07-01 2020-07-31
Bitcoin:2020-08-01 2020-08-31
Bitcoin:2020-09-01 2020-09-30
Bitcoin:2020-10-01 2020-10-31
Bitcoin:2020-11-01 2020-11-30
Bitcoin:2020-12-01 2020-12-31
Bitcoin:2021-01-01 2021-01-31
Bitcoin:2021-02-01 2021-02-28
Bitcoin:2021-03-01 2021-03-31
Bitcoin:2021-04-01 2021-04-30
Bitcoin:2021-05-01 2021-05-31
Bitcoin:2021-06-01 2021-06-30
Bitcoin:2021-07-01 2021-07-31
Bitcoin:2021-08-01 2021-08-31
Bitcoin:2021-09-01 2021-09-30
Bitcoin:2021-10-01 2021-10-31
Bitcoin:2021-11-01 2021-11-30
Bitcoin:2021-12-01 2021-12-31
Bitcoin:2022-01-01 2022-01-31

In [12]:
Bitcoin_df

            Bitcoin_unscaled  Bitcoin_monthly isPartial  scale  Bitcoin
date
2020-01-01                57              NaN       NaN    NaN      NaN
2020-01-02                67              NaN       NaN    NaN      NaN
2020-01-03                73              NaN       NaN    NaN      NaN
2020-01-04                65              NaN       NaN    NaN      NaN
2020-01-05                67             14.0     False   0.14     9.38
...                      ...              ...       ...    ...      ...
2022-01-11                77             35.0       NaN   0.35    26.95
2022-01-12                71             35.0       NaN   0.35    24.85
2022-01-13                70             35.0       NaN   0.35    24.50
2022-01-14                68             35.0       NaN   0.35    23.80
2022-01-15                55             35.0       NaN   0.35    19.25

[746 rows x 5 columns]

In [7]:
# ir = 'INTDSRUSM193N'
# inflation = 'FPCPITOTLZGUSA'
# df2 = web.DataReader([ir, inflation], 'fred', start='2020-01-01', end='2022-01-01')

In [8]:
# df2.head()

In [27]:
path = os.path.join('data','BTC-USD-2.csv')

In [29]:
df_data = pd.read_csv(path)
df_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [32]:
df_data.drop(columns=['Open', 'High', 'Low', 'Adj Close'], inplace=True)

In [34]:
df_data.set_index('Date')

                   Close       Volume
Date
2020-01-01   7200.174316  18565664997
2020-01-02   6985.470215  20802083465
2020-01-03   7344.884277  28111481032
2020-01-04   7410.656738  18444271275
2020-01-05   7411.317383  19725074095
...                  ...          ...
2022-01-11  42735.855469  26327648900
2022-01-12  43949.101563  33499938689
2022-01-13  42591.570313  47691135082
2022-01-14  43099.699219  23577403399
2022-01-15  43177.398438  18371348298

[746 rows x 2 columns]

#### Descriptives - get to know the data

#### Dickey-Fuller test (if needed)

#### Correlation matirx

#### Classic OLS model

#### VAR model

#### If needed also ARDL